
html, body {
    width: 100%;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
html,
input {
    font-size: 36pt;
}

label {
    margin-right: 1em;
}

table {
    width: 90%;
    margin: auto;
    display: none;
}

td.type {
    vertical-align: middle;
    text-align: center;
}

td {
    vertical-align: middle;
}

td.type > span {
    display: block;
    color: white;
    -webkit-border-radius: 20;
    -moz-border-radius: 20%;
    border-radius: 20%;
    margin: .2em;
    height: 1em;
    width: 1em;
    content: " ";
    padding: 0;
}

td.type.bgr > span:before,
td.type.grb > span:before {
    content: "↹";
    color: #fafafa;
    position: relative;
    left: -.2em;
    top: -.05em;
}

td.type.color > span {
    border-left: solid #ef4444 .33em;
    background: #44ef44;
    border-right: solid #4444ef .33em;
    width: .33em;
}

td.type.color.grb > span {
    border-left-color: #44ef44;
    background-color: #ef4444;
}

td.type.color.bgr > span {
    border-left-color: #4444ef;
    border-right-color: #ef4444;
}

td.type.mono > span {
    border-left: solid #000000 .5em;
    background: #dfdfdf;
    width: .5em;
}

th {
    font-weight: bold;
}

th, td {
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #eef7ee;
}

input {
    width: 80%;
}

#compat {
    color: #aaa;
}

#reference {
    display: none;
}

#clearReference {
    width: 1em;
    height: 1em;
    padding: .1em;
    display: inline-block;
    color: white;
    background: red;
    border: .10em solid black;
    border-radius: 1em;
    line-height: .75em;
    vertical-align: top;
    font-size: 24pt;
//    background-image: radial-gradient(left top, circle farthest-corner, #FFFFFF -50%, #FF0000 50%);
background-image: -webkit-radial-gradient(left top, circle farthest-corner, #FFFFFF -50%, #FF0000 50%);
}

#clearReference:hover {
    color: black;
    border-color: #aaa;
}