/**
 *
 *   __          __           __
 *  |  |_.--.--.|  |--.--.--.|  |.---.-.----.
 *  |   _|  |  ||  _  |  |  ||  ||  _  |   _|
 *  |____|_____||_____|_____||__||___._|__|
 *
 * © Copyright 2013 Ian Eure.
 * Author: Ian Eure <ian.eure@gmail.com>
 */

html, body {
    width: 100%;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
html,
input {
    font-size: 36pt;
}

label {
    margin-right: 1em;
}

table,
form {
    width: 90%;
    margin: auto;
    display: relative;
}

#search {
    display: none;
}

table {
    font-weight: lighter;
}

td {
    vertical-align: middle;
}

#res tr:hover > td {
    background: -webkit-gradient(linear, left top, left bottom, from(#b6cde3), to(#79b4e8));
    color: #454545;
}

tr:hover > td:first-child {
    border-radius: .25em 0 0 .25em;
}
tr:hover > td:last-child {
    border-radius: 0 .25em .25em 0;
}

td.type {
    text-align: center;
    padding: .2em 0;
    width: 2em;
}

td.type > span {
    display: block;
    color: white;
    border-radius: 25%;
    border: 2px solid #7f7f7f;
    height: 1em;
    width: 1.33em;
    margin: auto;
    content: "";
    padding: 0;
}

td.type > span:before {
    content: "";
    height: 1em;
    display: block;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.0)));
    border-radius: 25%;
}

td.type.mono > span {
    background: -webkit-linear-gradient(left, #e9826e 0%,#e9826e 50%,#fff0f0 50%,#ffdfdf 100%);
}

td.type.mono.bgr > span {
    background: -webkit-linear-gradient(left, #57b3ea 0%,#57b3ea 50%,#f0f0ff 50%,#dfdfff 100%);
}

td.type.mono.grb > span {
    background: -webkit-linear-gradient(left, #b3f64a 0%,#b3f64a 50%,#f0fff0 50%,#dfffdf 100%);
}

td.type.color > span {
    background: -webkit-linear-gradient(left, #e9826e 0%,#e9826e 33.3%,#b3f64a 33.3%,#b3f64a 66.6%,#57b3ea 66.6%, #57b3ea 100%);
}

td.type.color.bgr > span {
    background: -webkit-linear-gradient(left, #57b3ea 0%,#57b3ea 33.3%,#b3f64a 33.3%,#b3f64a 66.6%,#e9826e 66.6%, #e9826e 100%);
}

td.type.color.grb > span {
    background: -webkit-linear-gradient(left, #b3f64a 0%,#b3f64a 33.3%,#e9826e 33.3%,#e9826e 66.6%,#57b3ea 66.6%, #57b3ea 100%);
}

td.color.grb > span:before,
td.color.bgr > span:before,
td.mono.grb > span:before,
td.mono.bgr > span:before {
    content: "↔";
    color: #fafafa;
    text-shadow: .05em .05em .1em #454545;
    line-height: .85em;
}

th {
    font-weight: normal;
}

th, td {
    text-align: left;
}

#ref tbody tr:nth-child(odd) {
    background-color: #eef7ee;
}

#incompatRes {
    opacity: .2;
}

input {
    width: 90%;
    line-height: 1em;
}

form {
    position: relative;
    padding: 0;
}

#ref form > label {
    position: absolute;
    color: #aaa;
    vertical-align: bottom;
    top: .25em;
    left: 1.25em;
}
