<html>
    <head>
        <title>Tubular - Monitor ID</title>
        <link rel="stylesheet" type="text/css" href="../reset.css">
        <link rel="stylesheet" type="text/css" href="../tubular.css">
    </head>
    <body>
        <div id="filter">
            <form>
                <select name="size">
                    <option id="all">— All sizes —</option>
                    <option id="13">13"</option>
                    <option id="19">19"</option>
                    <option id="25">25"</option>
                </select>
                <select name="color-bw">
                    <option>— Color &amp; B&amp;W —</option>
                    <option>Color</option>
                    <option>B&amp;W</option>
                </select>
                <select name="vector-raster">
                    <option>—Vector &amp; Raster —</option>
                    <option id="raster">Raster</option>
                    <option id="vector">Vector</option>
                </select>
            </form>
        </div>
        <hr>
        {{ #monitors }}
        {{> monitor }}
        <hr>
        {{ /monitors }}
    </body>
</html>
