@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

/* CSS HEX */
:root {
  --white: #fff;
  --text-color: #4a4a4a;
  --cyan: #0ff;
  --paradise-pink: #ef476f;
  --orange-yellow-crayola: #ffd166;
  --caribbean-green: #06d6a0;
  --blue-ncs: #3e8ed0;
  --midnight-green-eagle-green: #073b4c;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
}

body:before {
  background: -webkit-linear-gradient(left, white 0%,white 14.285%,yellow 14.285%,yellow 28.57%,cyan 28.57%, cyan 42.85%, limegreen 42.85%, limegreen 57.14%, magenta 57.14%, magenta 71.425%, red 71.425%, red 85.71%, blue 85.71%, blue 100%);
  background: linear-gradient(left, white 0%,white 14.285%,yellow 14.285%,yellow 28.57%,cyan 28.57%, cyan 42.85%, limegreen 42.85%, limegreen 57.14%, magenta 57.14%, magenta 71.425%, red 71.425%, red 85.71%, blue 85.71%, blue 100%);
  border-bottom: var(--text-color) 1px solid;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
}

.is-family-open-sans {
  font-family: 'Open Sans' Arial, Helvetica, sans-serif;
}

.logo {
  display: inline-block;
}

.breadcrumb a,
a {
  color: var(--blue-ncs);
  text-decoration: underline;
}

a.button {
  text-decoration: none ! important;
}

.is-active a {
  text-decoration: none;
}

.container--padded {
  padding: 0 15px;
}

@media screen and (min-width: 1024px) {
  .container--padded {
    padding: 0;
  }
}

ul.search-results li a {
  display: block;
}

div.tube .level-right a {
  text-decoration: none;
}

table caption {
  text-align: left;
  font-weight: 700;
  font-size: 110%;
  margin-bottom: 10px;
}

.datasheet {
    margin-bottom: 10px;
}

ul.is-hoverable li:not(.is-selected):hover {
  background-color: #fafafa;
}

ul.is-hoverable.is-striped li:not(.is-selected):hover {
  background-color: #fafafa;
}

ul.is-hoverable.is-striped li:not(.is-selected):hover:nth-child(even) {
  background-color: whitesmoke;
}

ul.is-striped li:not(.is-selected):nth-child(even) {
  background-color: #fafafa;
}

.tube-heading {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .tube-heading {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .tube-heading {
    font-size: 3rem;
  }
}

.subheading {
  border-bottom: 2px solid var(--text-color);
  line-height: 1.2;
  margin-bottom: 1.5rem;
  padding-bottom: .2rem;
}

@media screen and (min-width: 768px) {
  .subheading {
    font-size: 1.5rem;
  }
}

table.datasheet th {
    vertical-align: middle;
}
